#container{
    border: 1px solid red;
    height: 50vh;
    width: 50vw;
    flex-direction: row;
    
    display: flex;
    

    
    align-items: center;
    
}
.box{
    
    border: 1px solid black;
    height: 25%;
    width: 30%;
    margin: 5px;
    
}
#box1{
  
    order: 4;
}
#box2{
    order: 1;
}
#box3{
order: 2;
}
#box4{
order: 3;
}