#container{
    border: 1px solid red;
    height: 50vh;
    width: 50vw;
    flex-direction: row;
    
    display: flex;
    

    
    align-items: center;
    
}
.box{
    
    border: 1px solid black;
    height: 25%;
    width: 30%;
    margin: 5px;
    
}
#box1{
    /* align self only particular item ke liya use hota hai */
    align-self: self-start;

}
